ace {
  display: block;
  border: 1px solid #e0e0e0;
  width: 100%;
}

.edit-component {
  margin-top: 1rem;
}

.edit-component {
  margin-top: 1rem;
}

.edit-top-divider {
  margin-top: 1rem;
}

.bar {
  padding: 0.5rem 0;
}

.bar > * {
  margin-top: auto;
  margin-bottom: auto;
}

.bar > button:first-child {
  margin-left: 35%;
}

.bar > button:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-area > * {
  white-space: break-spaces;
}

.waiting-button-wrapper {
  display: flex;
}

.waiting-button-wrapper .mat-spinner {
  margin: auto 0.2rem;
}
