apiVersion: v1
kind: Service
metadata:
  name: kserve-models-web-app
  namespace: kserve
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 5000
  selector:
    app.kubernetes.io/component: models-web-app
  type: ClusterIP
