apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: kustomize
      app.kubernetes.io/name: models-web-app
      app.kubernetes.io/part-of: models-web-app
