# See: https://github.com/moby/moby/issues/12886#issuecomment-480575928
# Ignore everything and node_modules
**
#
# Don't ignore the necessary files for the app
!frontend/
!backend/
!common/
!Makefile

# Ignore generated dependencies, caches, and package artifacts inside accepted dirs
**/node_modules
**/node_modules/**
**/.angular
**/.angular/**
**/dist
**/dist/**
**/build
**/build/**
**/*.egg-info
**/*.egg-info/**
**/__pycache__
**/__pycache__/**
**/*.py[cod]
**/*.whl
