<div class="lib-content-wrapper">
  <lib-title-actions-toolbar title="Endpoints" [buttons]="buttons" i18n-title>
    <!-- Use our custom namespace selector -->
    <app-namespace-select></app-namespace-select>

    <!-- Fallback to original Kubeflow namespace selector for dashboard disconnected state -->
    <lib-namespace-select
      *ngIf="(ns.dashboardConnected$ | async) === dashboardDisconnectedState"
      style="display: none"
    >
    </lib-namespace-select>
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div class="page-padding lib-flex-grow lib-overflow-auto">
    <lib-table
      [config]="config"
      [data]="inferenceServices"
      [trackByFn]="inferenceServiceTrackByFn"
      (actionsEmitter)="reactToAction($event)"
    ></lib-table>
  </div>
</div>
