apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Adds namespace to all resources.
namespace: kubeflow

# Labels to add to all resources and selectors.

generatorOptions:
  disableNameSuffixHash: true

# Kubeflow overlay configuration for the kserve-models-web-app:
# defines the ConfigMap generator, shared configuration, components,
# and the VirtualService patch used in this environment.
configMapGenerator:
  - behavior: replace
    literals:
      - USERID_HEADER=kubeflow-userid
      - USERID_PREFIX=""
      - APP_PREFIX=/kserve-endpoints
      - GRAFANA_PREFIX=/grafana
      - GRAFANA_CPU_MEMORY_DB=db/knative-serving-revision-cpu-and-memory-usage
      - GRAFANA_HTTP_REQUESTS_DB=db/knative-serving-revision-http-requests
    name: kserve-models-web-app-config

configurations:
  - params.yaml
resources:
  - ../../base

components:
  - ../../components/istio
labels:
  - includeSelectors: true
    pairs:
      app: kserve
patches:
  - path: patches/web-app-vsvc.yaml
    target:
      group: networking.istio.io
      kind: VirtualService
      name: kserve-models-web-app
      namespace: kserve
      version: v1beta1
