<div class="lib-content-wrapper">
  <lib-title-actions-toolbar
    title="New Endpoint"
    [buttons]="[]"
    [backButton]="true"
    (back)="navigateBack()"
    class="margin-bottom"
  >
  </lib-title-actions-toolbar>

  <lib-monaco-editor
    [(text)]="yaml"
    language="yaml"
    [height]="620"
  ></lib-monaco-editor>

  <lib-submit-bar
    [allowYAMLEditing]="false"
    [isApplying]="applying"
    [createDisabled]="!yaml"
    (create)="submit()"
    (cancel)="navigateBack()"
  ></lib-submit-bar>
</div>
