<ng-container>
  <lib-panel class="lib-panel">
    Logs are shown for the latest created revision
  </lib-panel>
</ng-container>

<ng-container>
  <mat-tab-group
    #componentTabGroup
    (selectedTabChange)="componentTabChange(componentTabGroup.selectedIndex)"
    class="page-placement"
    dynamicHeight
    animationDuration="0ms"
  >
    <mat-tab *ngFor="let component of components" label="{{ component | titlecase }}">
      <ng-template matTabContent>
        <mat-tab-group
          #containerTabGroup
          (selectedTabChange)="containerTabChange(containerTabGroup.selectedIndex)"
          class="page-placement"
          dynamicHeight
          animationDuration="0ms"
        >
          <mat-tab *ngFor="let container of isvcComponents[component].containers" label="{{ container }}"></mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <lib-loading-spinner *ngIf="!logsRequestCompleted"></lib-loading-spinner>

  <ng-container *ngIf="loadErrorMsg.length">
    <lib-panel>
      {{ loadErrorMsg }}
    </lib-panel>
  </ng-container>

  <app-logs-viewer *ngIf="currLogs.length"
    [logs]="currLogs"
  ></app-logs-viewer>
</ng-container>
