<div class="logs-container">
  <div class="logs-header">
    <div class="logs-title">Logs</div>
  </div>

  <mat-tab-group
    #componentTabGroup
    (selectedTabChange)="componentTabChange(componentTabGroup.selectedIndex)"
    class="component-tabs"
    animationDuration="0ms"
  >
    <mat-tab
      *ngFor="let component of components"
      label="{{ component | titlecase }}"
    >
      <ng-template matTabContent>
        <mat-tab-group
          #containerTabGroup
          (selectedTabChange)="
            containerTabChange(containerTabGroup.selectedIndex)
          "
          class="container-tabs"
          animationDuration="0ms"
        >
          <mat-tab
            *ngFor="let container of isvcComponents[component].containers"
            label="{{ container }}"
          >
            <ng-template matTabContent>
              <div class="log-viewer-wrapper">
                <lib-loading-spinner
                  *ngIf="!logsRequestCompleted"
                  class="spinner-overlay"
                ></lib-loading-spinner>

                <div *ngIf="loadErrorMsg.length" class="error-msg">
                  <lib-icon [icon]="'warning'" class="warn-icon"></lib-icon>
                  <span>{{ loadErrorMsg }}</span>
                </div>

                <app-logs-viewer
                  *ngIf="currLogs.length"
                  [logs]="currLogs"
                ></app-logs-viewer>

                <div
                  *ngIf="
                    logsRequestCompleted &&
                    !currLogs.length &&
                    !loadErrorMsg.length
                  "
                  class="no-logs"
                >
                  No logs available for this container.
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
