<div class="lib-content-wrapper details-page">
  <lib-title-actions-toolbar
    title="Endpoint details"
    [buttons]="buttonsConfig"
    [backButton]="true"
    (back)="navigateBack()"
    class="margin-bottom"
    i18n-title
  >
  </lib-title-actions-toolbar>

  <!--scrollable page content-->
  <div class="details-page-outer">
    <lib-loading-spinner *ngIf="!serverInfoLoaded"></lib-loading-spinner>

    <ng-container *ngIf="serverInfoLoaded">
      <div class="details-page-inner">
        <div class="details-page-inner-2">
          <lib-status-icon
            class="small-padding-right"
            [phase]="status.phase"
          ></lib-status-icon>
          <div class="title">{{ serverName }}</div>
        </div>
        <div class="small-padding-up">
          <lib-status-info [status]="status"></lib-status-info>
        </div>
      </div>

      <ng-container *ngIf="isEditing">
        <app-edit [isvc]="editingIsvc" (cancelEdit)="cancelEdit()"> </app-edit>
      </ng-container>

      <!--tabs-->
      <mat-tab-group
        *ngIf="!isEditing"
        class="page-placement"
        dynamicHeight
        animationDuration="0ms"
      >
        <mat-tab label="OVERVIEW">
          <app-overview
            *ngIf="serverInfoLoaded"
            [svc]="inferenceService"
            [namespace]="namespace"
            [ownedObjects]="ownedObjects"
          ></app-overview>
        </mat-tab>
        <mat-tab label="DETAILS">
          <app-details
            *ngIf="serverInfoLoaded"
            [svc]="inferenceService"
            [namespace]="namespace"
          ></app-details>
        </mat-tab>
        <mat-tab *ngIf="grafanaFound" label="METRICS">
          <app-metrics
            *ngIf="serverInfoLoaded"
            [namespace]="namespace"
            [status]="inferenceService?.status"
          ></app-metrics>
        </mat-tab>
        <mat-tab label="LOGS">
          <ng-template matTabContent>
            <app-logs [svc]="inferenceService"></app-logs>
          </ng-template>
        </mat-tab>
        <mat-tab label="EVENTS">
          <ng-template matTabContent>
            <app-events [svc]="inferenceService"></app-events>
          </ng-template>
        </mat-tab>
        <mat-tab label="YAML">
          <ng-template matTabContent>
            <app-yamls [svc]="inferenceService"></app-yamls>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</div>
